
Gestor_de_ideas/flask_app/models/__pycache__/campaing.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/campaings.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/campaing.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/campaings.cpython-311.pyc
