
Gestor_de_ideas/flask_app/models/__pycache__/campaing.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/campaings.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/campaing.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/campaings.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/users.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/initiatives.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/clusters.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/comentarios.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/comentario.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/initiative.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/cluster.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/cluster.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/cluster.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/__pycache__/__init__.cpython-311.pyc
Gestor_de_ideas/flask_app/config/__pycache__/mysqlconnection.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/hipexps.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/users.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/cluster.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/hipexp.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/initiative.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/user.cpython-311.pyc
Gestor_de_ideas/flask_app/__pycache__/__init__.cpython-311.pyc
Gestor_de_ideas/flask_app/config/__pycache__/mysqlconnection.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/users.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/cluster.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/initiative.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/user.cpython-311.pyc
Gestor_de_ideas/flask_app/__pycache__/__init__.cpython-311.pyc
Gestor_de_ideas/flask_app/__pycache__/__init__.cpython-311.pyc
Gestor_de_ideas/flask_app/config/__pycache__/mysqlconnection.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/ideas.cpython-311.pyc
Gestor_de_ideas/flask_app/controllers/__pycache__/users.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/cluster.cpython-311.pyc
Gestor_de_ideas/flask_app/models/__pycache__/idea.cpython-311.pyc
