<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Campaigns</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="bodycampaigns">

<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #2a3d8fcc;">
    <div class="container-fluid justify-content-between ml-4 mr-4">
        <!-- Left elements -->
        <div>
            <span class="titulo hache1" data-heading="i"></span><span class="titulo">deas</span>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <ul class="list navbar-nav flex-row d-none d-md-flex">
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            {% if user_data.type_user == 1 %}
            <li>
                <a href="{{ url_for('strategy') }}">Strategies</a>
            </li>
            <!-- <li>
                <a href="#">Rate initiatives</a>
            </li> -->
            <li>
                <a href="{{ url_for('cluster_ideas') }}">Cluster ideas</a>
            </li>
            <li>
                <a href="{{ url_for('initiative') }}">Create Initiatives</a>
            </li>
            <li>
                <a href="{{ url_for('list_of_initiatives') }}">View Initiatives</a>
            </li>
            <li>
                <a href="{{ url_for('hypothesis') }}">Hip and Exp</a>
            </li>
            <li>
                <a href="{{ url_for('adm_roles') }}">Roles</a>
            </li>
            {% elif user_data.type_user == 2 %}
            <li>
                <a href="{{ url_for('strategy') }}">Strategies</a>
            </li>
            <li>
                <a href="{{ url_for('list_of_initiatives') }}">View Initiatives</a>
            </li>
            {% elif user_data.type_user == 3 %}
            <li>
                <a href="{{ url_for('list_of_initiatives') }}">View Initiatives</a>
            </li>
            <!-- <li>
                <a href="#">Rate initiatives</a>
            </li> -->
            {% elif user_data.type_user == 4 %}
            <li>
                <a href="{{ url_for('cluster_ideas') }}">Cluster ideas</a>
            </li>
            <li>
                <a href="{{ url_for('cluster') }}">View Clusters</a>
            </li>
            <li>
                <a href="{{ url_for('initiative') }}">Create Initiatives</a>
            </li>
            <li>
                <a href="{{ url_for('list_of_initiatives') }}">View Initiatives</a>
            </li>
            <li>
                <a href="{{ url_for('hypothesis') }}">Hip and Exp</a>
            </li>
            {% else %}
            {% endif %}
        </ul>
        <!-- Center elements -->

        <!-- Right elements -->
        <ul class="list navbar-nav flex-row">
        <li><a href="{{ url_for('view_profile') }}"><img src="https://img.freepik.com/foto-gratis/chico-worldface-espanol-fondo-blanco_53876-137665.jpg" class="rounded-circle" height="22" alt="Black and White Portrait of a Man" loading="lazy"> {{session['nombre']}} {{session['apellido']}}</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <!-- Right elements -->
    </div>
</nav>
<!-- Navbar -->

<!-- Add and view Campaigns -->
    <div class="mt-lg-5 ml-lg-5 mr-lg-5 mb-lg-5">
        {% if (user_data.type_user == 1 or user_data.type_user == 3) %}
        <div class="cuadroauto">
            <label class="titulo2" for="description">Añade una Campaña</label>
            <form action="/campaign/guardar" method="post">
            <div class="row justify-content-center">
                <div class="col-5 rounded-lg me-2 rounded rounded-4">
                    <br>
                    <p class="subtitulo">Selecciona una Estrategia</p>
                    <br>
                    <select class="form-select btn btn-secondary btn-lg dropdown-toggle" id="select" name="idstrategy" aria-label="Default select"  style="background-color: #2a3d8f;">
                        <option selected>Elige una Estrategia de la lista</option>
                        {% for strategy in strategys %}
                        <option value="{{ strategy['idstrategy'] }}">{{ strategy['name'] }}</option>
                        {% endfor %}
                    </select>
                    <br>
                </div>
                <div class="col-5 rounded-lg rounded rounded-4">
                    <br>
                    <p class="subtitulo">Escribe el objetivo de la campaña:</p>
                    <br>
                    <input type="text" name="content" class="form-control">
                    <br>
                    <input  type="submit" value="Enviar Campaña" class="btn btn-secondary btn-lg" style="background-color: #2a3d8f;">
                </div>
            </div>
            </form>
        </div>
        {% endif %}
        <br>
        <br>
        <div class="cuadroauto mb-5">
            <p class="titulo2">Campañas</p>
            <br>
            <div class="row row-col-1 row-cols-sm-1 row-cols-md-4 row-cols-lg-4 mt-1 mb-1 mx-1">
                {% for campaign in campaigns %}
                <div class="col-md-3 mb-4">
                    <a href="/verideas/{{campaign.idcampaign}}" style="text-decoration: none;">
                    <div class="card" style="background-color: #4859a3;">
                        <div class="card-header subtitulo2" style="background-color: #2a3d8f;">
                            Campaña Número: <strong>{{ campaign.idcampaign }}</strong>
                            <br>Estrategia: <strong>#</strong>
                        </div>
                        
                        <div class="card-body">
                        </div>
                        <h6 class="d-flex justify-content-center align-content-center mb-5 ml-2 mr-2 subtitulo">{{ campaign.name_campaing }}</h6>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
            </div>
        </div>
        <br>
    </div>
<!-- end Add and view Campaigns -->


    <footer class="text-center text-white fixed-bottom" style="background-color: #21081acc;">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2023 Copyright: Mathias Villalba, Luis Roche, Joel Maidana, Jonattan Da Silva.
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>