<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Others</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body class="bodygenerico">

<div class="containergenerico">
    <div class="cuadrogenerico">
        <p class="titulo">Comentarios</p>
        <form action="/create/comments" method="post" class="col-11 p-4 my-4 bg-dark bg-opacity-50 text-light mx-auto">
                        
                        <div>
                            <div>
                                <div class="form-group">
                                    <br>
                                    <label class="subtitulo" for="description">Describe tu idea:</label>
                                    <div class="form-control text-start">
                                        <br>
                                        <strong>Idea:</strong> idea 1
                                        <br>
                                        <strong>Creador:</strong> Jony
                                        <br>
                                        <strong>Descripcion:</strong> Esta idea consiste en poder implementar inteligencia artificial para poder mejorar las ventas de la empresa, la inteligencia debe analizar el comportamiento de los clientes de X manera.
                                        <br>
                                        <strong>Comentarios (#)</strong>
                                        <br>
                                        <strong>Luis</strong>
                                        <br>
                                        Esta idea me parece interesante porque es el futuro
                                        <br>
                                        <strong>Luis</strong>
                                        <br>
                                        Esta muy bien planteada
                                    </div>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <input type="text" name="title" class="form-control">
                                    <br>
                                    <input type="submit" value="Enviar" class="btn btn-primary">
                                </div>
                            </div>
            
                        </div>
                    </form>
    </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2a3d8fcc;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left elements -->
        <h4 class="titulo navbar-nav me-auto mb-2 mb-lg-0">Proyecto Ideas</h4>
        <!-- end Left elements -->
        </div>
        
        <!-- Right elements -->
        <div>
            <ul class="list navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a href="index.html" class="current">Home</a></li>
                    <li><a href="#" class="current">Profile</a></li>
                    <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <!-- end Right elements -->
    </div>
    <!-- end Container wrapper -->
</nav>


<footer class="text-center text-white fixed-bottom" style="background-color: #21081acc;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2023 Copyright: Mathias Villalba, Luis Roche, Joel Maidana, Jonattan Da Silva.
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>