<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Others</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body class="bodycampaigns">
test
<div class="containergenerico">
    <div class="cuadrogenerico">
        <p class="titulo">Contenedor generico</p>
    </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2a3d8fcc;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left elements -->
        <h4 class="titulo navbar-nav me-auto mb-2 mb-lg-0">Proyecto Ideas</h4>
        <!-- end Left elements -->
        </div>
        
        <!-- Right elements -->
        <div>
            <ul class="list navbar-nav me-auto mb-2 mb-lg-0">
                    <li><a href="#" class="current">Profile</a></li>
                    <li><a href="#">Logout</a></li>
            </ul>
        </div>
        <!-- end Right elements -->
    </div>
    <!-- end Container wrapper -->
</nav>


<footer class="text-center text-white fixed-bottom" style="background-color: #21081acc;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2023 Copyright: Mathias Villalba, Luis Roche, Joel Maidana, Jonattan Da Silva.
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>