<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>
<body class="bodyindex">
    <div class="section_top">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #21081a49;">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left elements -->
                    <h4 class="titulo navbar-nav me-auto mb-2 mb-lg-0">Proyecto Ideas</h4>
                <!-- end Left elements -->
                </div>
                
                <!-- Right elements -->
                <div>
                    <ul class="list navbar-nav me-auto mb-2 mb-lg-0">
                            <li><a href="{{ url_for('index') }}" class="current">Home</a></li>
                            <li><a href="{{ url_for('register') }}">Register</a></li>
                    </ul>
                </div>
                <!-- end Right elements -->
            </div>
            <!-- end Container wrapper -->
        </nav>
        <section id="home">
            <div class="containerindex">
                <form action="{{ url_for('log_user') }}" method="post" class="cuadroindex">
                    <p class="titulo">Welcome</p>
                    <input class="input" type="email" placeholder="Enter Email" name="email" required><br>
                    <input class="input" type="password" placeholder="Enter Password" name="password" required><br>
                    <input class="input" type="submit" value="Sign in" /><br>
                    <div class="cuadrotexto">Don't have an account? <a href="register.html"><span style="color: #c2deffcb;">Register</span></a></div>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="text-center text-white bg-danger col-12 rounded my-3">
                                <p>{{message}}</p>
                            </div >
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="drops">
                    <div class="drop drop-1"></div>
                    <div class="drop drop-2"></div>
                    <div class="drop drop-3"></div>
                    <div class="drop drop-4"></div>
                    <div class="drop drop-5"></div>
                    <div class="drop drop-6"></div>
                    <div class="drop drop-7"></div>
                    <div class="drop drop-8"></div>
                </div>
            </div>
        </section>
        <section id="contact">
            <footer class="text-center text-white fixed-bottom" style="background-color: #21081a49;">
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2023 Copyright: Mathias Villalba, Luis Roche, Joel Maidana, Jonattan Da Silva.
                </div>
                <!-- Copyright -->
            </footer>
        </section>
    </div>
</body>
</html>