.bodycampaigns{
    background-image: url(https://wallpaperaccess.com/full/187161.jpg);
    background-repeat: repeat;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}
.bodyindex{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
.section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-image: url(https://img.freepik.com/free-photo/successful-businesswoman-working-laptop-computer-thinks-new-ideas-her-office-dressed-up-white-clothes_231208-4810.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 90s infinite ease-in-out;
}
@keyframes change{
    0%
    {
        background-image: url(https://img.freepik.com/free-photo/corporate-management-strategy-solution-branding-concept_53876-167088.jpg);
    }
    20%
    {
        background-image: url(https://img.freepik.com/free-photo/girl-deciding-what-product-better-look-up-thoughtful-touch-chin-thinking-smiling-shopping-alone-making-choice-considering-proposals_176420-44746.jpg);
    }
    40%
    {
        background-image: url(https://img.freepik.com/free-photo/business-asian-people-meeting-office-use-post-it-notes-share-idea-brainstorming-concept_74952-2802.jpg);
    }
    60%
    {
        background-image: url(https://img.freepik.com/free-photo/group-casually-dressed-business-people-discussing-ideas-office_7861-1634.jpg);
    }
    80%
    {
        background-image: url(https://img.freepik.com/free-photo/caucasian-man-working-shoot_53876-30174.jpg);
    }
    100%
    {
        background-image: url(https://img.freepik.com/free-photo/woman-creating-inspiring-vision-board-side-view_23-2150104625.jpg);
    }
}
.bodygenerico{
    background-image: url(https://wallpaperaccess.com/full/187161.jpg);
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.titulo {
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.999);
    }

.titulo2 {
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.999);
    }

.subtitulo {
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.999);
    }

.subtitulo2 {
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 1px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.999);
    }

.list{
    left: 27%;
    top: 6%;
}
.list li{
    display: inline-block;
    margin-left: 25px;
    font-size: 18px;
    color: white;
}

.list li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid orange;
    border-bottom-width: 0;
    transition: .5s ease-in-out;

}
.list li a:hover{
    border-bottom: 3px solid orange;
    border-bottom-width: 100%;
    border-bottom-right-radius: 50%;
    color: orange;

}

.containerindex {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    }

.containerregister {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    }

.containergenerico {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    right: -48%;
    bottom: -35%;
    }

.containergenerico_izq {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 18%;
    right: 50%;
    bottom: -30%;
    }

.containergenerico_der {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 67%;
    right: -28%;
    bottom: -30%;
    }

.container1 {
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 25%;
}

.container2 {
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
}

.container3 {
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 75%;
}

.cuadroindex {
    height: 460px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadroregister {
    height: 650px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.nav {
    margin-bottom: 10%;
}

.cuadrogenerico {

    height: 100%;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadroauto {
    height: auto;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadrogenerico_izq {
    height: 100%;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadrogenerico_der {
    height: 100%;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadro1 {
height: 320px;
padding: 3em;
border-radius: 20px;
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
text-align: center;
}

.cuadro2 {
height: 320px;
padding: 3em;
border-radius: 20px;
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
text-align: center;
}

.cuadro3 {
height: 320px;
padding: 3em;
border-radius: 20px;
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
text-align: center;
}
.input {
background: transparent;
width: 220px;
font-size: 0.9em;
color: #000000;
padding: 1em;
margin-bottom: 2em;
font-weight: 500;
border: none;
border-radius: 50px;
box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
}

.cuadrotexto {
    color: #000000;
    opacity: 0.7;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.999);
    }

.input[type="email"]:focus ,
.input[type="password"]:focus {
box-shadow: 2px 2px 40px 5px rgba(0,0,0,0.9);
outline: none;
}     
.input::placeholder {
color: #00000088;
font-weight: 100;
font-weight: bold;
}
.input[type="submit"] {
margin-top: 10px;
width: 150px;
font-size: 1rem;
cursor: pointer;
}
.drop {
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
border-radius: 10px;
border-left: 1px solid rgba(255,255,255,0.3);
border-top: 1px solid rgba(255,255,255,0.3);
box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
position: absolute;
}
.drop-1 {
height: 70px;
width: 70px;
top: -15px;
left: -35px;
}

.drop-2 {
height: 80px;
width: 80px;
bottom: -30px;
right: -30px;
z-index: -1;
}

.drop-3 {
height: 100px;
width: 100px;
bottom: 130px;
right: -65px;
z-index: -1;
}

.drop-4 {
height: 120px;
width: 120px;
top: -60px;
right: -70px;
}

.drop-5 {
height: 80px;
width: 80px;
bottom: 310px;
left: -240px;
z-index: -1;
}
.drop-6 {
height: 80px;
width: 80px;
bottom: 180px;
left: -60px;
}
.drop-7 {
height: 150px;
width: 150px;
bottom: 50px;
left: -300px;

}
.drop-8 {
height: 130px;
width: 130px;
bottom: 200px;
left: 530px;
}

/* .fondologo {
    background: linear-gradient(45deg, #2d2d2d 9%, black 100%);
    width: 100%;
    height: 100%;
}
 */
/* .hache1 {
    font-family: "CoreCircus", sans-serif;
    font-size: 1vw;
    text-align: center;
    line-height: 1;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #2d2d2d;
    letter-spacing: -0.5rem;
} */
.hache1:before {
    content: attr(data-heading);
/*     position: absolute; */
/*     overflow: hidden; */
    color: #ffcc00;
/*     width: 100%; */
/*     z-index: 5; */
/*     text-shadow: none; */
/*     left: 27%; */
/*     text-align: left; */
    -webkit-animation: Ideas 3s linear infinite;
    animation: Ideas 3s linear infinite;
}

@-webkit-keyframes Ideas {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
    }
}

/* @keyframes Ideas {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: 0.99;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.4), 0 -2px 8px, 0 0 2px, 0 0 5px #ff7e00, 0 0 15px #ff4444, 0 0 2px #ff7e00, 0 2px 3px #000;
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    text-shadow: none;
    }
} */
/*
 * Webfont: CoreCircus by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-circus/regular/
 * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.
 * Licensed pageviews: 10,000
*
 * Webfont: CoreCircus2DDot1 by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-circus/dot1/
 * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.
 * Licensed pageviews: 10,000
*/
/* @font-face {
    font-family: "CoreCircus2DDot1";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_1_0.ttf") format("truetype");
}
@font-face {
    font-family: "CoreCircus";
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot");
    src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix") format("embedded-opentype"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2") format("woff2"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff") format("woff"), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf") format("truetype");
} */