.bodycampaigns{
    background-image: url(https://wallpaperaccess.com/full/187161.jpg);
    background-repeat: repeat;
    font-family: helvetica;
    margin: 0;
    padding: 0;
}
.bodyindex{
    background-image: url(https://img.freepik.com/free-photo/top-view-background-beautiful-white-grey-brown-cream-blue-background_140725-72219.jpg);
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.bodygenerico{
    background-image: url(https://wallpaperaccess.com/full/187161.jpg);
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.titulo {
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.999);
    }

.list{
    left: 27%;
    top: 6%;
}
.list li{
    display: inline-block;
    margin-left: 25px;
    font-size: 25px;
    color: white;
}

.list li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid orange;
    border-bottom-width: 0;
    transition: .5s ease-in-out;

}
.list li a:hover{
    border-bottom: 3px solid orange;
    border-bottom-width: 100%;
    border-bottom-right-radius: 50%;
    color: orange;

}

.containerindex {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    }

.containerregister {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    }

.containergenerico {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 33%;
    left: 50%;
    }

.containergenerico_izq {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 18%;
    right: 50%;
    }

.containergenerico_der {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 67%;
    right: -28%;
    }

.container1 {
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 25%;
}

.container2 {
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
}

.container3 {
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 75%;
}

.cuadroindex {
    height: 460px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadroregister {
    height: 650px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadrogenerico {
    height: 460px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadrogenerico_izq {
    height: 790px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadrogenerico_der {
    height: 790px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }

.cuadro1 {
height: 320px;
padding: 3em;
border-radius: 20px;
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
text-align: center;
}

.cuadro2 {
height: 320px;
padding: 3em;
border-radius: 20px;
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
text-align: center;
}

.cuadro3 {
height: 320px;
padding: 3em;
border-radius: 20px;
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
text-align: center;
}
.input {
background: transparent;
width: 220px;
font-size: 0.9em;
color: #c4c4c4;
padding: 1em;
margin-bottom: 2em;
font-weight: 500;
border: none;
border-radius: 50px;
box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.25);
}

.cuadrotexto {
    color: #fff;
    opacity: 0.7;
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.999);
    }

.input[type="email"]:focus ,
.input[type="password"]:focus {
box-shadow: 2px 2px 40px 5px rgba(0,0,0,0.9);
outline: none;
}     
.input::placeholder {
color: #c4c4c4;
font-weight: 100;
}
.input[type="submit"] {
margin-top: 10px;
width: 150px;
font-size: 1rem;
cursor: pointer;
}
.drop {
background: rgba(255,255,255,0.3);
backdrop-filter: blur(10px);
border-radius: 10px;
border-left: 1px solid rgba(255,255,255,0.3);
border-top: 1px solid rgba(255,255,255,0.3);
box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
position: absolute;
}
.drop-1 {
height: 70px;
width: 70px;
top: -15px;
left: -35px;
}

.drop-2 {
height: 80px;
width: 80px;
bottom: -30px;
right: -30px;
z-index: -1;
}

.drop-3 {
height: 100px;
width: 100px;
bottom: 130px;
right: -65px;
z-index: -1;
}

.drop-4 {
height: 120px;
width: 120px;
top: -60px;
right: -70px;
}

.drop-5 {
height: 80px;
width: 80px;
bottom: 310px;
left: -240px;
z-index: -1;
}
.drop-6 {
height: 80px;
width: 80px;
bottom: 180px;
left: -60px;
}
.drop-7 {
height: 150px;
width: 150px;
bottom: 50px;
left: -300px;

}
.drop-8 {
height: 130px;
width: 130px;
bottom: 200px;
left: 530px;
}